html{
  margin: 0;
  font-size: 10px;
}
body{
  // background-color: $color-primary;
  background-color: $white-color;
  margin: 0;
  font-family: $font-primary;
  font-weight: $font-regular;
}
*,
*:before,
*:after{
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
.d-none{
  display: none;
}



//IDEA

// @include breakpoint("mobile"){
//   body{
//     background-color: #fff;
//   }
// }