$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Quicksand', sans-serif;

$color-primary: #F0F0F0;
$color-secondary: #9C2D41;
$color-terciary: #ABABAB;
$white-color: #fff;

$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 600;