.section__works{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    > h2{
        margin: 10rem 14rem 5rem;
        font-size: 4.8rem;
        font-family: $font-secondary;
        font-weight: $font-medium;
        color: $color-secondary;
    }
    a{
        position: relative;
        max-height: 32rem;
        max-width: 55rem;
        transition: all 0.2s cubic-bezier(0, 0.2, 0.5, 3) 0s;
        img{
            width: 100%;
            border-radius: 5px;
            border: 1px solid rgba(0, 0, 0, 0.1);
        }
        &:hover{
            transform: scale(1.05);
            &::before{
                opacity: 1;
            }
        }
    }
    .img--disable{
        &:hover{
            transform: scale(1);
            box-shadow: none;
            &::before{
                opacity: 0;
            }
        }
    }
    a::before{
        content: 'Go to website';
        position: absolute;
        border-radius: 50px;
        font-size: 150%;
        font-family: $font-secondary;
        font-weight: $font-medium;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        top: 40%;
        left: 42%;
        width: 15%;
        height: 25%;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.4);
        transition: all 0.2s cubic-bezier(0, 0.2, 0.5, 3) 0s;
        opacity: 0;
    }
    h4{
        font-size: 3.6rem;
        font-family: $font-secondary;
        font-weight: $font-medium;
        margin: 0;
    }
    p{
        font-size: 1.6rem;
    }
    .works__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 9rem;
        > div{
            display: flex;
            margin-top: 12rem;
            .works__img--right,.works__img--left{
                max-width: 40rem;
                > a{
                    display: flex;
                    justify-content: space-between;
                    text-decoration: none;
                    align-items: center;
                    color: #000;
                    width: 12.5rem;
                    height: 2rem;
                    transition: all 0.3s cubic-bezier(0, 0.2, 0.5, 3) 0s;
                    > p{
                        font-size: 1.2rem;
                        font-weight: $font-light;
                        width: max-content;
                        &:after{
                          content: '';
                          position: absolute;
                          bottom: 0;
                          left: 0;
                          width: 0;
                          height: 1.5px;
                          background-color: $color-secondary;
                          cursor: pointer;
                          transition: all 0.15s ease-in;
                        }
                        
                    }
                    > img{
                        border: none;
                        height: 100%;
                        width: 25%;
                        transform: translateX(-10px) translateY(1px);
                    }
                    &:hover{
                        width: 13rem;
                    }
                    &:hover p:after{
                      width: 64%;
                    }
                    &:hover img{
                        transform: translateX(0px);
                    }
                }
            }
            .works__img--right{
                margin-right: 10rem;
            }
            .works__img--left{
                margin-left: 10rem;
            }
        }
        > div:last-child{
            margin-bottom: 13rem;
        }
    }
}


//Brekpoints

@include breakpoint("xl-desktop"){
    .section__works .works__container{
        margin: 0 12rem;
        > div .works__img--left{
            margin-left: 25rem;
        }
        > div .works__img--right{
            margin-right: 25rem;
        }
    }
}
@include breakpoint("desktop"){
    .section__works{
        h4{
            padding-top: 3rem;
        }
        .works__container{
            .works__div--right{
                display: flex;
                flex-direction: column-reverse;
                .works__img--right{
                    margin: 0;
                }
            }
            .works__div--left{
                display: flex;
                flex-direction: column;
                .works__img--left{
                    margin: 0;
                }
            }
        }
    }
}
@include breakpoint("tablet"){
    .section__works{
        .works__container{
            margin: 0 5rem;
        }
        > h2{
            margin: 7rem 5rem 0;
        }
    }
}
@include breakpoint("mobile"){
    .section__works{
        > h2{
            font-size: 3.6rem;
        }
        a::before{
            font-size: 90%;
        }
        h4{
            font-size: 2.8rem;
        }
        p{
            font-size: 1.4rem;
        }
    } 
}
@include breakpoint("sm-mobile"){
    .section__works{
        > h2{
            margin: 5rem 2rem 0;
        }
        .works__container{
            margin: 0 2rem;
        }
    }
}